<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="row">
  <div class="large-8 large-centered columns formu">
    <div class="row">
      <div class="large-4 columns formu">
        <h2>Email:</h2>
      </div>
      <div class="large-8 columns">
        <%= f.email_field :email, autofocus: true %>
      </div>
    </div>
    
    <div class="row">
      <div class="large-5 columns formu">
        <h2>Password:</h2>
      </div>
      <div class="large-7 columns">
        <%= f.password_field :password, autocomplete: "off" %>
      </div>
    </div>
    
    <div class="row">
      <div class="large-8 columns formu">
        <% if devise_mapping.rememberable? -%>
        <div class="row">
          <div class="large-8 columns formu">
              <h2>Remember me:</h2>
          </div>
          <div class="large-4 columns formu">
              <%= f.check_box :remember_me %>
          </div>
        </div>
        <% end -%>
      </div>
      <div class="actions large-4 columns">
        <%= f.submit "Log in", :class => "button" %>
      </div>
    </div>
  </div> 
</div>
<% end %>
  
  <%= render "devise/shared/links" %>
